## Import json files into pandas

In [6]:
# Load dependencies
import pandas as pd
import json
import os

In [10]:
# Read the directory with the data and save file_names in a list
path_to_json_files = 'data/'
json_files = [single_json for single_json in os.listdir(path_to_json_files) if single_json.endswith('.json')]

In [11]:
# Initiate an empty dataframe
main_df = pd.DataFrame()

# Feed the main_df with dataframes for each json file
for file_name in json_files:
    # Import the json and read it 
    with open(path_to_json_files+file_name) as json_data:
        d = json.load(json_data)
        for table_name in d.keys():
            d = d[table_name]
    
    # Load context into a pandas dataframe
    df_helper = pd.DataFrame(d)
    # Re-order the columns
    df_helper = df_helper.reindex_axis(['_id','name','created','delay','accept'],axis=1)
    # Add to the main_df each df created
    main_df = pd.concat([df_helper,main_df])

In [12]:
# Reset index of main_df
main_df = main_df.reset_index().drop('index',axis=1)

In [19]:
main_df

    _id   name             created delay accept
0     1  Ricky 2017-02-18 23:33:11   654      0
1     2  Ricky 2017-02-19 09:00:25   356      1
2     3  Ricky 2017-02-19 09:07:39   564      1
3     4  Ricky 2017-02-19 12:24:08   398      1
4     5  Ricky 2017-02-20 18:15:11   538      0
5     6  Ricky 2017-02-22 08:59:31   456      1
6     7  Ricky 2017-02-22 09:00:54   600      0
7     8  Ricky 2017-02-22 09:01:29   200      1
8     9  Ricky 2017-02-22 12:08:03   280      1
9     1  Ricky 2017-02-18 23:33:11   654      0
10    2  Ricky 2017-02-19 09:00:25   356      1
11    3  Ricky 2017-02-19 09:07:39   564      1
12    4  Ricky 2017-02-19 12:24:08   398      1
13    5  Ricky 2017-02-20 18:15:11   538      0
14    6  Ricky 2017-02-22 08:59:31   456      1
15    7  Ricky 2017-02-22 09:00:54   600      0
16    8  Ricky 2017-02-22 09:01:29   200      1
17    9  Ricky 2017-02-22 12:08:03   280      1
18    1  Ricky 2017-02-18 23:33:11   654      0
19    2  Ricky 2017-02-19 09:00:25   356      1
20    3  Ricky 2017-02-19 09:07:39   564      1
21    4  Ricky 2017-02-19 12:24:08   398      1
22    5  Ricky 2017-02-20 18:15:11   538      0
23    6  Ricky 2017-02-22 08:59:31   456      1
24    7  Ricky 2017-02-22 09:00:54   600      0
25    8  Ricky 2017-02-22 09:01:29   200      1
26    9  Ricky 2017-02-22 12:08:03   280      1
27    1  Ricky 2017-02-18 23:33:11   654      0
28    2  Ricky 2017-02-19 09:00:25   356      1
29    3  Ricky 2017-02-19 09:07:39   564      1
..   ..    ...                 ...   ...    ...
87    7  Ricky 2017-02-22 09:00:54   600      0
88    8  Ricky 2017-02-22 09:01:29   200      1
89    9  Ricky 2017-02-22 12:08:03   280      1
90    1  Ricky 2017-02-18 23:33:11   654      0
91    2  Ricky 2017-02-19 09:00:25   356      1
92    3  Ricky 2017-02-19 09:07:39   564      1
93    4  Ricky 2017-02-19 12:24:08   398      1
94    5  Ricky 2017-02-20 18:15:11   538      0
95    6  Ricky 2017-02-22 08:59:31   456      1
96    7  Ricky 2017-02-22 09:00:54   600      0
97    8  Ricky 2017-02-22 09:01:29   200      1
98    9  Ricky 2017-02-22 12:08:03   280      1
99    1  Ricky 2017-02-18 23:33:11   654      0
100   2  Ricky 2017-02-19 09:00:25   356      1
101   3  Ricky 2017-02-19 09:07:39   564      1
102   4  Ricky 2017-02-19 12:24:08   398      1
103   5  Ricky 2017-02-20 18:15:11   538      0
104   6  Ricky 2017-02-22 08:59:31   456      1
105   7  Ricky 2017-02-22 09:00:54   600      0
106   8  Ricky 2017-02-22 09:01:29   200      1
107   9  Ricky 2017-02-22 12:08:03   280      1
108   1  Ricky 2017-02-18 23:33:11   654      0
109   2  Ricky 2017-02-19 09:00:25   356      1
110   3  Ricky 2017-02-19 09:07:39   564      1
111   4  Ricky 2017-02-19 12:24:08   398      1
112   5  Ricky 2017-02-20 18:15:11   538      0
113   6  Ricky 2017-02-22 08:59:31   456      1
114   7  Ricky 2017-02-22 09:00:54   600      0
115   8  Ricky 2017-02-22 09:01:29   200      1
116   9  Ricky 2017-02-22 12:08:03   280      1

[117 rows x 5 columns]

## Start the analysis

In [20]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 5 columns):
_id        117 non-null object
name       117 non-null object
created    117 non-null datetime64[ns]
delay      117 non-null object
accept     117 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 4.6+ KB

In [24]:
# Convert data types
main_df['created'] = pd.to_datetime(main_df['created'])
main_df['delay'] = main_df['delay'].astype('int')
main_df['accept'] = main_df['accept'].astype('bool')

In [33]:
main_df.describe()

            delay
count  117.000000
mean   449.555556
std    145.085970
min    200.000000
25%    356.000000
50%    456.000000
75%    564.000000
max    654.000000